{% extends 'shopapp/base.html' %}

{% block title %}
	Product list
{% endblock %}

{% block body %}
	<h1>Products:</h1>
    {% if products %}
        <div>
        {% for product in products %}
            <div>
                <p>Name: <a href="{% url 'shopapp:product_details' pk=product.pk%}">{{ product.name }}</a></p>
                <p>Price: {% firstof product.price 'No price' %}</p>
                <p>Discount: {% firstof product.discount 'No discount' %}</p>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h3>No produts yet</h3>
    {% endif %}
    
    <div>
        <a href="{% url 'shopapp:product_create' %}">Create a new product</a>
    </div>
{% endblock %}